*{
    margin: 0;
    padding: 0;

}
html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    line-height: 1rem;
   
    
}
ul{
    list-style: none;
    list-style-position: inside;
    list-style-type: '🤞';
   
}