@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}
body, html{
    background-color: lightgrey;
}
header{
    background-color: gray;
    text-align: center;

}
menu{
    display: none;
}
menu ul{
    list-style: none;
}
menu ul a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(82, 77, 77);
    color: white;
    border-top: 2px solid gray;
}
a:hover{
    background-color: gray;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
article h1{
    padding-bottom: 20px;
}
article p{
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}
#burger{
    background-color: rgba(0, 0, 0, 0.454);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;

}
#burger:hover{
    background-color: white;
    color: black;
}
@media screen and (min-width: 768px){
    #burger{
        display: none;
    }
    menu {
        display: block;

    }
    menu ul li{
        display: inline-block;
    }
    main{
        width: 768px;
    }
}

