@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}
body p {
    font-size: 1.5rem;
    line-height: 60px;

}
html, body{
    min-height: 100%;
   
}



header{
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px;
   min-width: 500px;
   font-size: 5vw;
   
     
}
header h1{
    font-family: "Passion One", sans-serif;
     font-weight: 100px;
     padding-top: 50px;
     font-size: 1.9em;
     font-variant: small-caps;
    
}
header p {
    font-size: 16px;
}
header p a {
    text-decoration: none ;
    color: white;
    font-weight: bolder;
}
main{
    background-color: white;
    padding-bottom: 10vh;
    padding-top:10vh;
    padding-left: 10px;
    
    
}
main p {
    padding: 10px;
    margin: 10px;
      font-family: "Sriracha", cursive;
}
.img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    padding-bottom:20px;
    background-attachment: fixed;
    height: 450px;
    padding-left: 10px;
   
    
   
}
.img1 p {
    background-color: rgba(0, 0, 0, 0.304);
    display: inline-block;
    margin-top: 20px;
    
}
.img2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
   padding-bottom: 20px;
    background-attachment: fixed;
    height: 500px;
     padding-left: 10px;
}
.img2 p {
    background-color: rgba(0, 0, 0, 0.372);
    margin-top: 20px;
    display: inline-block;
    font-size: 1.5rem;
   
    

}
footer{
    background-color: black;
    padding: 10px;
    font-size: 1.5rem;
    color:white;
    text-align: center;
}

footer p:hover {
    text-decoration: underline;
    transition: 0.5s;

}
